@model ToDoList.Domain.Entities.TaskManager

@{
    ViewBag.Title = "Create Task";
}

<h2>Create</h2>
@using (Html.BeginForm("Create","TaskManager"))
{
    @Html.EditorForModel()
    <input type="submit"value="Save" />
    @Html.ActionLink("Cancel and return to all", "List")
}

